.icons {
  padding-bottom: 25px;
  opacity: 0.8;
  margin-top: 30px;
}
.icons-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icons button {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons button span {
  margin-top: 15px;
  font-size: 20px;
}
.icons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  row-gap: 30px;
}
